<div class="navbar-fixed">  
    <nav>
        <div class="topnav">
    <span style="float: left; padding: 10px 50px;">
        <img src="/assets/image/Converted-PNG.png" alt="nav-logo" class="logo"  style="height: 45px; width: 145px">
    </span>
    


  <a [ngClass]="(board == 'MyTask')? 'active':doNothing()" (click)="myTask()">My Tasks</a>
  <a [ngClass]="(board == 'AllTask')? 'active':doNothing()" style="border-left: 1px solid #f2f2f2" (click)="allTask()">All Task</a>
  <a [ngClass]="(board == 'Backlog')? 'active':doNothing()" style="border-left: 1px solid #f2f2f2" (click)="backlog(); show_log()">Backlog</a>
  <div style="float: right; color: black; padding: 5px;">
    
        <h6><a class="dropd" style="display: inline; float: right; padding: 0; margin: 0 15px;" (click)="navDrop()">  
            <img src="/assets/image/Vector_2.png" [style.display] = "nav_drop == true ? '' : 'none'">
            <img src="/assets/image/Vector.png" [style.display] = "nav_drop == false ? '' : 'none'">
            </a>{{dataservice.username}}</h6>
        <h6>{{dataservice.role}} - {{dataservice.project_name}}</h6>
    
    
    </div>
</div>



    <!-- <div class="container-fluid">
      <div class="nav-wrapper">
          <div class="row">
              <div class="col m3">
                <img src="/assets/image/Converted-PNG.png" alt="nav-logo" class="logo">
              </div>
              <div class="col m3" style="display: flex;">
                <h3 id="project_title" style="text-align: right">{{dataservice.project_name}}</h3>
                <div style="float: right; display: flex; margin-top: 5px" [style.display] = "show_sprint_option ? 'block' : 'none'" >
                    <select  name="change_sprint" style="height: 30px; margin: 15px; color: #1f7a7a; width: auto;" [(ngModel)]="dataservice.selected_sprint"  (change)="changeSprint()">
                        <option *ngFor = "let sprint of dataservice.sprints"  [ngValue]="sprint" [selected] = "index == last ? sprint : doNothing()" >
                         {{sprint.id}}:  {{sprint.created_on | date}} - {{sprint.ends_on | date}}
                        </option>                           
                    </select>
                </div>
             </div>              
             <div class="col m6">
                <ul class="right hide-on-med-and-down">
                    <li>
                        <button type="button" class="btn btn-link s_button"  *ngIf="dataservice.role.toLowerCase() == 'owner'" (click)="createSprint()">New Sprint</button>
                    </li>  
                    <li id="username"> {{dataservice.username}} - {{dataservice.role}} </li>
                    <li><a *ngIf="dataservice.role.toLowerCase() == 'owner', 'admin'" (click)="admin()" id="adminpanel">Admin Panel</a></li>  
                    <li><a (click)="logout()" id="logout">LOGOUT</a></li>
                </ul>
            </div>
          </div>
      </div>
    </div> -->
    <div class="topnav"  [style.display] = "nav_drop == true ? '' : 'none'" >
    
  <div style="padding-left: 300px; color: black;"> 
  <div style="display: block; margin: 0 auto; padding-left: 200px;">  
    <a (click)="admin()" id="adminpanel" class="dropd" style="display: inline;"  *ngIf="dataservice.role.toLowerCase() == 'owner', 'admin'">
        <div style="padding-top: 7px">
            <img src="/assets/image/user.png" style="height: 20px; width: 20px; margin 5px">
            Admin Panel
        </div> 
    </a>

    <a (click)="logout()" id="logout">
        <div style="padding-top: 5px">
            <img src="/assets/image/logout.png" style="height: 20px; width: 20px; margin 5px">
            Logout
        </div>
    </a>
</div>
    </div>
</div>
    </nav>   
</div>



<div style="margin-top: 8px" class="container-fluid">
    <div class="row">
        
        <div class="col " style="height: calc(100vh - 65px); width: 70%; overflow: auto; background-color: #f5f5f5; border-left: 3px solid white" [style.display] = "board == 'AllTask' ? '' : 'none'">          
            <div class="main_area">
                <table>
                <tr style="margin: 0">
                        <td style="padding-top: 17px;">
                            <div style="margin-top: 7px;">
                                <button type="button" class="btn-round" *ngIf="dataservice.role.toLowerCase() == 'owner'" >Invite User</button>
                            </div>
                            <!-- <h3>{{dataservice.message}}</h3> -->
                            <!-- <label>
                            <input type="checkbox" id="ourcheck" class="filled-in" [checked]="show_zero" (click)="swapState()">
                                <span >Show Users With No Assigned Tasks</span> 
                            </label> -->
                        </td>
                 <td style="text-align: center;">
                    <div style="" [style.display] = "show_sprint_option ? 'inline-flex' : 'none'"  [style.margin-top] = "dataservice.role.toLowerCase() == 'owner' ? '10px' : '5px'" >
                     <select  name="change_sprint" style="font-size: 12px; font-family: Roboto; height: 27px; color: #1f7a7a; width: 260px;" [(ngModel)]="dataservice.selected_sprint"  (change)="changeSprint()">
                        <option *ngFor = "let sprint of dataservice.sprints;"  [ngValue]="sprint" [selected] = "index == last ? sprint : doNothing()" >
                        Sprint {{sprint.id}}:  {{sprint.created_on | date}} - {{sprint.ends_on | date}}
                        </option>                           
                     </select>
                    
                    </div>                           
                 </td>
                 <td >
                    <div style="margin-top: 10px">
                        <input type="textarea" placeholder="Search" name="search" class="search_input " style="height: 27px; ">
                    </div>
                        
                </td>
                 <td  style="padding-top: 20px;">
                     <button type="button" class="btn-round" *ngIf="dataservice.role.toLowerCase() == 'owner'" (click)="createSprint()">NEW SPRINT</button>
                 </td>
                </tr>
                <tr style="padding-top: 0; margin: 0">
                    <td colspan="4"  style="padding-top: 0; margin: 0">
                        <h3  style="padding-top: 0; margin: 0">
                            {{dataservice.message}}
                        </h3>
                    </td>
                </tr>
                
                </table>         
                <style>
                    .full-box {
                        display: table-cell;
                        vertical-align: middle;
                        text-align: center;
                        border: 0 solid black;
                        padding: 10px;
                        height: 70px;

                    }
                    .top-box {
                        display: table-cell;
                        font-size: 10pt;
                        vertical-align: middle;
                        text-align: center;
                        border: 0 solid gray;
                        border-top: 0 solid black;
                    }
                    .reg-box {
                        display: table-cell;
                        font-size: 10pt;
                        vertical-align: middle;
                        text-align: center;
                        border: 0 solid gray;
                        padding: 10px;
                    }

                        select{display: block !important;}
                        input{display: block !important;}
                </style>
                <div class="board-area">
                <ng-container *ngFor="let user of dataservice.users; let user_index = index"> 
                   
                <br>   
                <details (dblclick)="closeAll()" [attr.id]="'detail' + user.id" open="open">  
                <summary>
                <span> 
                    <span style=" font-weight: bold; background-color: transparent;">
                        <a [routerLink] fragment='{{user.id}}' (dblclick)="scrollIntoView('u' + user.id)"  (click)="getClicked($event); UserGoalHistory(user.user.nickname, user.id);  userAdvance.openModal()" style="font-size: 0.8rem">{{user.user.nickname.toUpperCase()}}
                        </a>

                                
                         <!--        {{user.user.nickname.toUpperCase()}} -->  
                                <span style="font-family: Roboto;font-size: 11px; color: rgba(0, 0, 0, 0.5); padding: 4px 4px 0px 5px; ">
                                    {{user.total_week_hours}} hours 
                                </span>
                                <span class="tool">
                                    <a (click)="onUser(user.id); basicModal.openModal()"  style="margin: 5px; ">
                                        <img src="/assets/image/plus2.png" style="height: 20px; width: 20px; margin 10px; ">
                                    </a> 
                                    <span class="tooltiptext3">
                                        Add New Task
                                    </span>
                                </span>
                                
                                <span class="tool">
                                    <a (click)="onUser(user.id); addNote.openModal(); show_notes()" style="margin: 5px;">
                                        <img src="/assets/image/notes.png" style="height: 20px; width: 20px;  margin 10px; ">
                                    </a>
                                    <span   class="tooltiptext3">
                                        Add a Note
                                    </span>
                                </span>

                                <span class="tool">
                                    <a (click)="onUser(user.id); addWorkid.openModal(); show_workid()" style="margin: 5px; ">
                                        <img src="/assets/image/search.png" style="height: 20px; width: 20px; margin 10px; ">
                                    </a> 
                                    <span class="tooltiptext3">
                                        Add or View Workid
                                    </span>
                                </span>                                

                                <span *ngIf="dataservice.role.toLowerCase() == 'owner'" style="float: right;">
                                    <button type="button" class="btn-round" (click)="remove_user(user.user.nickname, user.id)" style=" border-radius: 5px; margin-top: inherit; height: 27px; border-left: 5px solid white ">
                                            Remove User
                                    </button>
                                </span>

                    </span>
                    </span> 
                    <hr>
                    </summary> 
                    <div style="display:table; width:100%; word-wrap:break-word; border-collapse:collapse; background-color: #f2f2f2;">
                        
                        

                        <div style="display: table-row; ">
                            <th><div class="table_head">Task For The Week </div> </th>
                            <th><div class="table_head">Finish Today </div></th>
                            <th><div class="table_head">Verify </div></th>
                            <th><div class="table_head">Done </div></th>
                        </div>
                        
                        <div *ngIf="user.scrumgoal_set.length == 0 && show_zero  && user.user.nickname.toUpperCase() != this.dataservice.realname.toUpperCase()" style="display: table-row;" dragula="mainTable" [attr.id]="'c' + user.id">
                                <td class="full-box" id="author" colspan="6">
                                    {{user.user.nickname}} - NO TASKS ASSIGNED
                                </td>
                        </div>


                         <div *ngIf="user.scrumgoal_set.length == 0 && show_zero && user.user.nickname.toUpperCase() == this.dataservice.realname.toUpperCase()" style="display: table-row;" [attr.id]="'u' + user.id">
                                <td  dragula="mainTable" class="full-box" id="author" style="padding: 0 25px; text-align: center;" >
                                  <div (click)="onUser(user.id); basicModal.openModal()" class="no_task">
                                    
                                    Welcome, please click here to create your first task
                                    <br>

                                    <span style="font-size: 20px; font-weight: bold; font-family: Roboto">+</span>
                                   
                                  </div>
                                </td>
                                <td   colspan="3"></td>
                                
                        </div>


                            <div style="display: table-row" *ngIf="user.scrumgoal_set.length != 0" [attr.id]="'u' + user.id" [style.background]="user.id == id_click ? 'rgba(0, 128, 128, 0.5)' : (user.id == id_hover ? 'rgba(0, 128, 128, 0.15)' : 'none')" tabindex="-1">


                                <div *ngFor="let arrItem of arrCount" class="top-box" dragula="mainTable" [attr.id]="arrItem" style="vertical-align: top;">


                                    <div class="div_lister" *ngFor="let goal of dataservice.sprint_goals; let j = index; let k = count" [attr.id]="'g' + goal.goal_project_id" >

<!-- ============================ This is to show user work today ========================== -->
                    <div *ngIf ="goal.status == 1 && user.id == goal.user && arrItem ==1">
                        {{goal | user_TFT: user.id}} 
                    </div> 
<!-- ======================================================= -->



<!-- ======================== This is for when user is off by default ============================= -->
                    
    <div *ngIf ="arrItem ==1"> 
    {{user | init_user_lane}}  
        <div *ngFor="let a_TFT of dataservice.users_TFT; let b = index; let a = count">
            
            <div *ngIf ="user.id == a_TFT.user_id && a_TFT.done_goal_array.length == 0 && j == 0 ">                
            <!-- <div *ngIf =" user.id == a_TFT.user_id && arrItem == 1 && a_TFT.done_goal_array.length==0"> --><!-- 2 1{{j}} {{a_TFT.done_goal_array.length}} -->
                <div (click)="onUser(user.id)" class="off_today" *ngIf ="arrItem == 1" >    
                    I am Off Today!!! 
                    
                </div> 
            </div>
                                                        
        </div>
    </div>
                    
<!-- ============================================================================================== -->
       

                                            <div class="list_div" *ngIf ="goal.status == arrItem && user.id == goal.user && goal.name; let thisGoal" (dblclick)="goal.status == arrItem ? editGoal($event) : doNothing()" style=""  [style.background]="goal.goal_project_id == id_clicks ? 'rgba(0, 128, 128, 0.5)' :  user.color"   [attr.id]="'gs' + goal.goal_project_id"> 
                                                <a  *ngIf ="goal.push_id != 'Null Value'">
                                <div style="color: #26a69a">PID:{{goal.push_id}}</div>
                            </a>

                                             {{ (goal.name.length>120) ? (thisGoal | slice:0:120)+'...':(thisGoal) }} {{(goal.hours != -1 && (goal.status == 3 || goal.status == 2) ? ' (' + goal.hours + ')' : '' )}}
                                                <a (click)="ResizeImage(goal.file); showImage.openModal()">
                                                    <img src="{{ dataservice.domain_protocol}}{{dataservice.domain_name}}{{goal.file}}" style="width: 15px; height: 15px" alt="{{goal.file}}">
                                                </a> 
                                                
                                        
                                               <div style="text-align: left; padding: 10px 0; ">
                                                <div *ngIf ="goal.days_failed > 0">
                                                    <span>{{goal.days_failed}}</span>
                                                    <span>
                                                        <img src="/assets/image/fail.png" alt="fail"  style="height: 10px; width: 10px">
                                                    </span>
                                                </div>
                                               </div>
                                               <br>

                                            <div class="div-add-file" style="display: inline-flex; padding-bottom: 8px;">


                                                <div style="padding: 8px 5px; font-weight: bold">
                                                    {{goal.goal_project_id}}
                                                </div>
                                                                            
                                                <span style="font-weight: bolder; font-size: 17px; font-family: arial-black">.</span>
                                                <select name= "option{{goal.goal_project_id}}" class="select_option"   [(ngModel)]="selected_history[j]" (change)= "CheckHistory(selected_history[j], goal.push_id); showHistory.openModal();" >
                                                    <option [ngValue]="history1" disabled selected>History  </option>
                                                    <option *ngFor = "let history of goal.scrumgoalhistory_set" [ngValue]=history>
                                                        {{history.message}}
                                                    </option>
                                                </select> 
                                            <div style="padding-top: 4px;">
                                                <span class="list_div_tool">
                                                    <a (click)="goalClicked(goal.goal_project_id); upload.openModal()">
                                                    <img src="/assets/image/foto.png" style="padding: 0 2px;">
                                                    </a>
                                                    <span class="tooltiptext3">Upload Image</span>
                                                </span>
                                               <span  class="list_div_tool">
                                                    <a (click)="goalClicked(goal.goal_project_id); initGoalChat()">
                                                    <img *ngIf="goal.message_exist == true" src="/assets/image/message.png" style="padding: 0 2px;">
                                                    <img *ngIf="goal.message_exist == false" src="/assets/image/message2.png" style="padding: 0 2px;">
                                                    </a>
                                                    <span class="tooltiptext3">Goal Chat</span>
                                               </span>
                                                
                                            </div> 
                                            </div>
                                                <span class="tooltiptext">{{goal.name}}</span>                                              
                                                <span *ngIf="goal.status == 3" class="tooltiptext2">
                                                    <button class="delete_task" (click)="deleteTask(goal.name, goal.goal_project_id)">X</button>
                                                </span>                                
                                            <!-- </div> -->
                                        </div>




                </div>

                                </div>

                                <div  class="top-box"  [attr.id]="3" style="vertical-align: top;" dragula="mainTable">
                                    

                                    <div  *ngFor="let goal of dataservice.sprint_goals; let j = index; let k = count" [attr.id]="'g' + goal.goal_project_id"> 
                                            <div *ngIf ="goal.status == 3 && user.id == goal.user && goal.name; let thisGoal" (dblclick)="goal.status == 3 ? editGoal($event) : doNothing()" style="" [style.background-color] = "user.color">

                                                {{goal | workids}} 
                                        </div>                                   
                                    </div>


                                     <div style="display: table-row" *ngFor="let w_id of dataservice.users_done;"  [attr.id]="'u' + user.id"> 
                                        
                                          


                                        <div *ngIf="user.id == w_id.user_id" style="margin-top: 30px;"  dragula="mainTable" [attr.id]=3 style="border: 2px solid black">
                                            <div style="background-color: grey;  width: 100%">
                                                {{ w_id.work_id }}
                                            </div>
                                            
                                               
                                        <div class="div_lister" *ngFor="let goal of w_id.goal_array; let j = index; let k = count" [attr.id]="'g' + goal.goal_project_id"> 
                                            <!-- <div class="list_div" *ngIf ="goal.status == 3 && user.id == goal.user && goal.name; let thisGoal" (dblclick)="goal.status == 3 ? editGoal($event) : doNothing()" style="" [style.background-color] = "user.color"> -->
                                            <div  class="list_div" *ngIf="user.id == goal.user" (dblclick)="goal.status == 3 ? editGoal($event) : doNothing()" style=""  [style.background]="goal.goal_project_id == id_clicks ? 'rgba(0, 128, 128, 0.5)' :  user.color" [attr.id]="'gs' + goal.goal_project_id">
                                                 {{goal.name}} {{(goal.hours != -1 && (goal.status == 3 || goal.status == 2) ? ' (' + goal.hours + ')' : '' )}}
                                                <br>
                                                <div class="div_lister" *ngFor="let work_ID of dataservice.work_IDs; let j = index; let k = count" [attr.id]="'g' + goal.goal_project_id">
                                                {{work_ID.push_id }} 
                                                </div>
                                                <a (click)="ResizeImage(goal.file); showImage.openModal()">
                                                    <img src="{{ dataservice.domain_protocol}}{{dataservice.domain_name}}{{goal.file}}" style="width: 15px; height: 15px" alt="{{goal.file}}">
                                                </a> 
                                                
                                        
                                               <div style="text-align: left; padding: 10px 0; ">
                                                <div *ngIf ="goal.days_failed > 0">
                                                    <span>{{goal.days_failed}}</span>
                                                    <span>
                                                        <img src="/assets/image/fail.png" alt="fail"  style="height: 10px; width: 10px">
                                                    </span>
                                                </div>
                                               </div>
                                               <br>

                                            <div class="div-add-file" style="display: inline-flex; padding-bottom: 8px;">


                                                <div style="padding: 8px 5px; font-weight: bold">
                                                    {{goal.goal_project_id}}
                                                </div>
                                                <span style="font-weight: bolder; font-size: 17px; font-family: arial-black">.</span>
                                                <select name= "option{{goal.goal_project_id}}" class="select_option"   [(ngModel)]="selected_history[j]" (change)= "CheckHistory(selected_history[j], goal.push_id); showHistory.openModal();" >
                                                    <option [ngValue]="history1" disabled selected>History  </option>
                                                    <option *ngFor = "let history of goal.scrumgoalhistory_set" [ngValue]=history>
                                                        {{history.message}}
                                                    </option>
                                                </select> 
                                            <div style="padding-top: 4px;">
                                                <span class="list_div_tool">
                                                    <a (click)="goalClicked(goal.goal_project_id); upload.openModal()">
                                                    <img src="/assets/image/foto.png" style="padding: 0 2px;">
                                                    </a>
                                                    <span class="tooltiptext3">Upload Image</span>
                                                </span>
                                                <span  class="list_div_tool">
                                                    <a (click)="goalClicked(goal.goal_project_id); initGoalChat()">
                                                    <img *ngIf="goal.message_exist == true" src="/assets/image/message.png" style="padding: 0 2px;">
                                                    <img *ngIf="goal.message_exist == false" src="/assets/image/message2.png" style="padding: 0 2px;">
                                                    </a>
                                                    <span class="tooltiptext3">Goal Chat</span>
                                                </span>
                                                
                                            </div> 
                                            </div>
                                                <span class="tooltiptext">{{goal.name}}</span>                                              
                                                <span *ngIf="goal.status == 3" class="tooltiptext2">
                                                    <button class="delete_task" (click)="deleteTask(goal.name, goal.goal_project_id)">X</button>
                                                </span> 
                                            </div>
                                            
                                        </div>
                                     
                                     </div>
                                    </div>
                                   <!--  bbbbbbbbbbbbbbb {{dataservice.username| WorkIDsGoals}} -->
                                </div>

                            </div>
                        
                    </div>
                    </details>

                    </ng-container>
                </div>
            </div>
            
        </div>



        
              <div class="col" style=" background-color:#F5F5F5; width: 30%; float: right;">
            <a style="float: right; margin-right: -10px; background-color: white; border-radius: 0px 0px 0px 10px; color: black; padding: 5px; ">{{chat_div_title}}</a>
            <br>
            <br>
            <br>
            <div class="card" style="background-color:transparent; box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);">
                <br>
                <div style="text-align: right"><a style="text-align: right" (click)="initMainChat()" *ngIf=" show_project_chat"> switch to Project Chat>>></a></div>
                
                <div style="overflow: auto; height: calc(100vh - 345px); padding-left: 10px; padding-right: 10px; background-color:transparent;" id="chat_div_space">
                    <div *ngFor="let message of messages" style="font-size: 0.85rem"  class="chat_div"  [style.float] = "message.user == dataservice.realname ? 'right' : 'left'" [style.width] = "message.user == dataservice.realname ? '295px' : '320px'">

                    <li  style="list-style-type: none; padding-top: 1px;  border-radius: 15px; box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);"  [style.background-color] = "message.user == dataservice.realname ? '#262626' : 'white'">
                        <p [style.float] = "message.user == dataservice.realname ? 'right' : 'left'"  [style.padding-left] = "message.user != dataservice.realname ? '10px' : '0'">
                            <img src="https://secure.gravatar.com/avatar/8ca9b9d6ee37371cba9ee9362cdbbc9b.jpg?s=512&d=https%3A%2F%2Fa.slack-edge.com%2F00b63%2Fimg%2Favatars%2Fava_0005-512.png" 
                                        style=" border-radius: 50px; border: 1px solid #F5F5F5; box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25); height: 30px; float: left;" [style.background-color] = "message.user == dataservice.realname ? 'white' : 'white'">
                        </p>
                        <p [style.color] = "message.user == dataservice.realname ? 'white': '#262626'" style="color: white;  padding: 1px;">  
                                <span  style="list-style-type: none; padding-top: 1px; padding-bottom: 1px">
                                        <div  style="font-weight: bold; text-indent: 5px; text-align: left; font-size: 12px">
                                            <span *ngIf="message.user != dataservice.realname">
                                                {{message.user}}
                                            </span>
                                            <span style="font-family: Roboto; font-size: 11px; color: rgba(0, 0, 0, 0.5);" [style.color] = "message.user == dataservice.realname ? 'white': '#262626'">
                                                {{message.date_Time | date:'shortTime'}}  
                                                {{message.date_Time | date}}
                                                <br>
                                                <br>
                                                <p [innerText]="message.message" style=" text-align: left;" ></p>
                                                <br>
                                            </span>

                                        </div> 
                                       
                                        
                                       <!--  <div [innerText]="message.message" style="" ></div> -->
                                        <!-- <div style="padding-left: 0">jjj{{message.message}}kkk</div> -->
                                    </span>
                                </p>
                                
                        
                    </li>
                    <br>


                        
                    </div>
                </div>
                
                <div class="row" style="padding-left: 0; padding-right: 10px; background-color: #f5f5f5;">
                    <div style="height: 190px; overflow: auto">
                    <div class="input-field col s12">
                            <textarea #chat id="chat_text"  [(ngModel)]="chat_text" (keyup.enter)="sendMessage('main_chat')" class="chat_input" (keyup)='autogrow(); taskHighlight(chat.value)' rows='3'  style="resize: vertical; border-radius: 10px; box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25); background-position: right; background-color: white; padding: 3px;" height="inherit"></textarea>
                            
                            <label for="chat_text" style="padding: 3px 10px 0 20px;"> Send a message </label>
                        </div>
                        <hr>
                     <span>
                            <li *ngIf="dataservice.role.toLowerCase() != 'owner'">
                                <div *ngIf="dataservice.project_slack == true && dataservice.user_slack == 'false'" style="font-weight: bold; color: #1f7a7a ">
                                    Connect Chatscrum app to Slack?<br/>
                                    <a href="https://slack.com/oauth/authorize?client_id={{this.dataservice.slack_app_id}}&state=main_chat_{{dataservice.project_name}}>>>{{dataservice.username}}&scope=identity.basic identity.team identity.avatar identity.email" id = "slack_btn2"><img alt="Sign in with Slack" height="40" width="139" src="https://platform.slack-edge.com/img/sign_in_with_slack.png" srcset="https://platform.slack-edge.com/img/sign_in_with_slack.png 1x, https://platform.slack-edge.com/img/sign_in_with_slack@2x.png 2x" /></a></div>
                            </li>
                        </span>
                        <span *ngIf="dataservice.role.toLowerCase() == 'owner'">                                             
                            <li *ngIf="dataservice.project_slack == false" style="font-weight: bold; color: #1f7a7a ">
                                Install Chatscrum App to Slack? <br/>
                                <a href="https://slack.com/oauth/authorize?client_id={{this.dataservice.slack_app_id}}&state=main_chat_{{dataservice.project_name}}>>>{{dataservice.username}}&scope=incoming-webhook,channels:read,channels:history,groups:history,mpim:history,emoji:read,files:read,groups:read,im:read,im:history,reactions:read,stars:read,users:read,team:read,chat:write:user,chat:write:bot,channels:write,bot" id = "slack_btn1"><img alt="Add to Slack" height="40" width="139" src="https://platform.slack-edge.com/img/add_to_slack.png" srcset="https://platform.slack-edge.com/img/add_to_slack.png 1x, https://platform.slack-edge.com/img/add_to_slack@2x.png 2x" /></a> 
                            </li>                                                                       
                    </span>
                </div>
                </div>
                
    </div>
</div>













        <div class="col s8" style="height: calc(100vh - 65px); width: 70%; overflow: auto; background-color: #f5f5f5; border-left: 3px solid white" [style.display] = "board == 'MyTask' ? '' : 'none'">          
            <div class="main_area">
                
              
                <div class="board-area" style=" float: left;">
                <ng-container *ngFor="let user of dataservice.users; let user_index = index">
                    
                    <div  style="margin-top: 40px;"  *ngIf="user.user.nickname.toUpperCase() == this.dataservice.realname.toUpperCase()">
                    <span> 
                    <span style=" font-weight: bold; background-color: transparent;">
                        <a [routerLink] fragment='{{user.id}}' (dblclick)="scrollIntoView('u' + user.id)"  (click)="getClicked($event); UserGoalHistory(user.user.nickname, user.id);  userAdvance.openModal()" style="font-size: 0.8rem">{{user.user.nickname.toUpperCase()}}
                        </a>

                                
                         <!--        {{user.user.nickname.toUpperCase()}} -->  
                                <span style="font-family: Roboto;font-size: 11px; color: rgba(0, 0, 0, 0.5); padding: 4px 4px 0px 5px; ">
                                    {{user.total_week_hours}} hours 
                                </span>
                                <span class="tool">
                                    <a (click)="onUser(user.id); basicModal.openModal()"  style="margin: 5px; ">
                                        <img src="/assets/image/plus2.png" style="height: 20px; width: 20px; margin 10px; ">
                                    </a> 
                                    <span class="tooltiptext3">
                                        Add New Task
                                    </span>
                                </span>
                                
                                <span class="tool">
                                    <a (click)="onUser(user.id); addNote.openModal(); show_notes()" style="margin: 5px;">
                                        <img src="/assets/image/notes.png" style="height: 20px; width: 20px;  margin 10px; ">
                                    </a>
                                    <span   class="tooltiptext3">
                                        Add a Note
                                    </span>
                                </span>
                                
                                

                    </span>
                    </span> 
                   
                    
                    <div style="display:table; width:100%; word-wrap:break-word; border-collapse:collapse; background-color: #f2f2f2;">
                        
                        

                        <div style="display: table-row; border-top: 2px solid black; ">
                            <th> <div class="table_head">Task For The Week</div> </th>
                            <th><div class="table_head">Finish Today</div></th>
                            <th><div class="table_head">Verify</div></th>
                            <th><div class="table_head">Done</div></th>
                        </div>
                        
                        <div *ngIf="user.scrumgoal_set.length == 0 && show_zero" style="display: table-row;" dragula="mainTable" [attr.id]="'u' + user.id">
                                <td class="full-box" id="author" colspan="6">
                                    {{user.user.nickname}} - NO TASKS ASSIGNED
                                </td>
                        </div>
                            <div style="display: table-row" *ngIf="user.scrumgoal_set.length != 0" [attr.id]="'u' + user.id" [style.background]="user.id == id_click ? 'rgba(0, 128, 128, 0.5)' : (user.id == id_hover ? 'rgba(0, 128, 128, 0.15)' : 'none')" tabindex="-1">
                                <div *ngFor="let arrItem of arrCount" class="top-box" dragula="mainTable" [attr.id]="arrItem">
                                    <div class="div_lister" *ngFor="let goal of dataservice.sprint_goals; let j = index; let k = count" [attr.id]="'g' + goal.goal_project_id"> 
                                            <div class="list_div" *ngIf ="goal.status == arrItem && user.id == goal.user && goal.name; let thisGoal" (dblclick)="goal.status == arrItem ? editGoal($event) : doNothing()" style="" [style.background-color] = "user.color"> {{ (goal.name.length>120) ? (thisGoal | slice:0:120)+'...':(thisGoal) }} {{(goal.hours != -1 && (goal.status == 3 || goal.status == 2) ? ' (' + goal.hours + ')' : '' )}}
                                                <a (click)="ResizeImage(goal.file); showImage.openModal()">
                                                    <img src="https://{{dataservice.domain_name}}{{goal.file}}" style="width: 15px; height: 15px" alt="{{goal.file}}">
                                                </a> 
                                                <br>
                                                <br>

                                                <br>
                                                <br>
                                            <div class="div-add-file" style="display: inline-flex; padding-bottom: 10px;">
                                                <div style="padding: 8px 5px; font-weight: bold">
                                                    {{goal.goal_project_id}}
                                                </div>
                                                <span style="font-weight: bolder; font-size: 17px; font-family: arial-black">.</span>
                                                <select name= "option{{goal.goal_project_id}}" class="select_option"   [(ngModel)]="selected_history[j]" (change)= "CheckHistory(selected_history[j]); showHistory.openModal();" >
                                                    <option [ngValue]="history1" disabled selected>History  </option>
                                                    <option *ngFor = "let history of goal.scrumgoalhistory_set" [ngValue]=history>
                                                        {{history.message}}
                                                    </option>
                                                </select> 
                                            <div style="padding-top: 4px;">
                                                <span class="list_div_tool">
                                                    <a (click)="goalClicked(goal.goal_project_id); upload.openModal()">
                                                    <img src="/assets/image/foto.png" style="padding: 0 2px;">
                                                    </a>
                                                    <span class="tooltiptext3">Upload Image</span>
                                                </span>
                                                <span  class="list_div_tool">
                                                    <a (click)="goalClicked(goal.goal_project_id); initGoalChat()">
                                                    <img *ngIf="goal.message_exist == true" src="/assets/image/message.png" style="padding: 0 2px;">
                                                    <img *ngIf="goal.message_exist == false" src="/assets/image/message2.png" style="padding: 0 2px;">
                                                    </a>
                                                    <span class="tooltiptext3">Goal Chat</span>
                                                </span>
                                                
                                            </div>
                                            </div>
                                                <span class="tooltiptext">{{goal.name}}</span>                                              
                                                <span *ngIf="goal.status == 3" class="tooltiptext2">
                                                    <button class="delete_task" (click)="deleteTask(goal.name, goal.goal_project_id)">X</button>
                                                </span>                                  
                                            <!-- </div> -->
                                        </div>                                   
                                    </div>
                                </div>
                            </div>
                        
                    </div>
                    </div>
                    </ng-container>
                </div>
            </div>
            
        </div>
        <div class="col s8" style="height: calc(100vh - 65px); width: 70%; overflow: auto; background-color: #f5f5f5; border-left: 3px solid white" [style.display] = "board == 'Backlog' ? '' : 'none'"> 
            <div class="main_area">
                <div class="board-area" style=" float: left;">
                <ng-container *ngFor="let user of dataservice.users; let user_index = index">
                    <div *ngIf="user.user.nickname.toUpperCase() == this.dataservice.realname.toUpperCase()">
                        <h5 style="color: green">{{dataservice.message}}</h5>
                        <span>
                            <button (click)="onUser(user.id); addLog.openModal()" *ngIf="dataservice.role.toLowerCase() == 'owner', 'admin'" style="background-color: transparent; border:none; box-shadow: none;">
                                    <tr>
                                        <td><img src="/assets/image/plus2.png" style="height: 37px; width: 37px; "> </td>
                                        <td style="font-size: 14px">Add New </td>
                                    </tr> 
                            </button>
                        </span>        

                        <div style="display:table; width:100%; word-wrap:break-word; border-collapse:collapse; background-color: #f2f2f2;">

                                <br>
                                <div style="display: table-row; text-align: center; border-top: 2px solid black; ">
                                     <th><div class="table_head">Feature</div></th>
                                </div>
                            <div style="display: flex; flex-direction: row; flex-wrap: wrap;">
                                <div style="display: table-row" *ngFor="let log of dataservice.proj_log; let j = index; let k = count" tabindex="-1">
                                    <td>
                                        <div class="list_div" >
                                        <span style="font-weight: bolder; " >
                                            {{ (log.log.length>120) ? (log.log | slice:0:120)+'...':(log.log) }}
                                        </span> 
                                        <span class="tooltiptext">{{log.log}}</span> 
                                     <div style="padding-top: 4px; float: right;">   
                                        <span class="list_div_tool" >
                                    <select >

                                                    <option *ngFor="let user of dataservice.users" [routerLink] fragment='{{user.id}}' (click)="getClicked($event); log_to_goal(log.id, log.log, log.priority, user.id); ">{{user.user.nickname}}</option>
                                                </select> 
                                    
                                </span>
                                    </div>
                                    </div>
                                    </td>

                                   
                                </div> 
                            </div>                               
                            </div>
                        </div>
                    </ng-container>        
                </div>
            </div>
        </div>    
                

        <mz-modal #addWorkid>
            <mz-modal-header>
                <h4>Add WorkId</h4>
            </mz-modal-header>
            <mz-modal-content>
                
                <h5 style="color: green">{{dataservice.message}}</h5>
                <form (ngSubmit)="add_a_workid()">
                    <textarea id="goal" [(ngModel)]="workid" name="goal" placeholder="Enter Workid" style="width: 150px; height: 60px; border-radius: 20px; padding: 10px; margin-bottom: 40px"></textarea>
                    <div style="margin-bottom: 10px; font-weight: 500; font-size: 24px;">Select the None Option<span style="font-weight: 500;color: red;">*</span></div>
                    <select  name="branch" style="height: 30px; margin: 15px; color: black; width: 100px; font-size: 20px;" [(ngModel)]="branch" value="none">
                        <option Value="none" selected>none</option>                         
                    </select>
                    <div style="text-align: center">
                        <button type="button" class="btn-round" value="Add Workid" (click)="add_a_workid()" style=" height: 40px; font-size: 14px">ADD WorkId</button>
                    </div>
                </form><br>
                

                <br>
                <div style="display: table; width: 100%; word-wrap: break-word; border-collapse: collapse; border: 2px solid black;">
                    <div style="display: table-row">
                            <!--
                            <th class="full-box">Created By</th>
                            -->
                            <th class="full-box">ID</th>
                            <th class="full-box">WORKID</th>
                            <th class="full-box">BRANCH</th>
                            <th class="full-box">ACTION</th>
                    </div>

                    <div style="display: table-row" *ngFor="let workid of dataservice.user_workid; let j = index; let k = count">
                        <td class="top-box">{{workid.id}}</td>
                        <td class="top-box">
                            <span style="font-weight: bolder;">
                                {{workid.workid}} 
                            </span>  
                        </td>
                        <td class="top-box">
                            <span style="font-weight: bolder;">
                                {{workid.branch}} 
                            </span>  
                        </td>
                        <button (click)="deleteworkid(workid.id, workid.workid, workid.branch)" style="background-color: grey; border:none; box-shadow: none; border-radius: 8px;">
                            <tr>
                                <td><img src="/assets/image/plus2.png" style="height: 20px; width: 20px; "> </td>
                                <td style="font-size: 14px; font-family: Roboto; font-weight: bold">Delete Workid </td>
                            </tr> 
                        </button>
                       
                    </div>                                
                </div>
            </mz-modal-content>
        </mz-modal>

        <div class="col m4">

                <mz-modal #assignlog>
                    <mz-modal-header>
                        <h4>Assign</h4>

                    </mz-modal-header>
                    <mz-modal-content>
                        
                <div>
                    <h5 style="color: green">{{dataservice.message}}</h5>
            <div *ngFor="let log of dataservice.proj_log; let j = index; let k = count" tabindex="-1">
                <ul *ngFor="let user of dataservice.users">
                    <li>
                        <div style="border-collapse: separate;" [attr.id]="'m' + user.id" (mouseover)="setSelectedUser(user.id)" (mouseleave)="setSelectedUser(-1)">
                            <tr id="author">
                                <th style="width: 1%"><a [routerLink] fragment='{{user.id}}' (click)="scrollIntoView('u' + user.id)"></a></th>
                                <a [routerLink] fragment='{{user.id}}' (click)="getClicked($event); log_to_goal(log.id, log.log, log.priority, user.id); "  style="margin-right: 0;font-size: 1.2rem">{{user.user.nickname}}

                                </a>
                        
                            
                            </tr>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
                    </mz-modal-content>
                </mz-modal>






                <mz-modal #basicModal>
                    <mz-modal-header>
                        <h4>Add A Task</h4>

                    </mz-modal-header>
                    <mz-modal-content>
                        <div style="margin-bottom: 10px; font-weight: 500; font-size: 24px;">Task<span style="font-weight: 500;color: red;">*</span></div>
                        <h5 style="color: green">{{dataservice.message}}</h5>
                        <form (ngSubmit)="addGoal()">
                            <textarea id="goal" [(ngModel)]="dataservice.goal_name" name="goal" placeholder="Enter The Task Details" style="width: 700px; height: 121px; border-radius: 20px; padding: 10px; margin-bottom: 40px"></textarea>
                            <br>
                            <!-- <input class="modal-close waves-effect btn btn-default" type="submit" value="Add Task"> -->
                            <div style="text-align: center">
                                <button type="button" class="btn-round" value="Add Task" (click)="addGoal()" style=" height: 40px; font-size: 14px">ADD TASK</button>
                            </div>
                            
                        </form>
                    </mz-modal-content>
                </mz-modal>
                <mz-modal #addNote>
                    <mz-modal-header>
                        <h4>Add a Notes</h4>
                    </mz-modal-header>
                    <mz-modal-content>
                        <div style="margin-bottom: 10px; font-weight: 500; font-size: 24px;">Notes<span style="font-weight: 500;color: red;">*</span></div>
                        <h5 style="color: green">{{dataservice.message}}</h5>
                        <form (ngSubmit)="add_a_note()">
                            <textarea id="goal" [(ngModel)]="note" name="goal" placeholder="Enter the Note" style="width: 700px; height: 121px; border-radius: 20px; padding: 10px; margin-bottom: 40px"></textarea>
                            <select  name="note_priority" style="height: 30px; margin: 15px; color: #1f7a7a; width: auto;" [(ngModel)]="note_priority">
                                <option Value="High" selected>High Priority</option>
                                <option Value="Medium">Medium Priority</option>
                                <option Value="Low">Low Priority</option>                           
                            </select>
                            <!-- <input class="modal-close waves-effect btn btn-default" type="submit" value="Add Note"> -->
                            <div style="text-align: center">
                                <button type="button" class="btn-round" value="Add Note" (click)="add_a_note()" style=" height: 40px; font-size: 14px">ADD NOTE</button>
                            </div>
                        </form><br>
                        

                        <br>
                        <div style="display: table; width: 100%; word-wrap: break-word; border-collapse: collapse; border: 2px solid black;">
                            <div style="display: table-row">
                                    <!--
                                    <th class="full-box">Created By</th>
                                    -->
                                    <th class="full-box">ID</th>
                                    <th class="full-box">NOTES</th>
                                    <th class="full-box">ACTION</th>
                            </div>

                            <div style="display: table-row" *ngFor="let note of dataservice.user_notes; let j = index; let k = count">
                                <td class="top-box">{{note.id}}</td>
                                <td class="top-box">
                                    <span style="font-weight: bolder;" [style.color]="note.priority == 'High' ? 'rgb(255,0,0)' : (note.priority == 'Medium' ? 'rgb(0,0,255)' : 'rgb(0,255,0)')">
                                        {{note.note}} 
                                    </span>  
                                </td>
                                <td class="top-box" style="text-align: center;">
                                    <!-- <button type="button" class="btn btn-link s_button"  *ngIf="dataservice.role.toLowerCase() == 'owner'" (click)="note_to_goal(note.id, note.note, note.priority)">
                                        Add to Board
                                    </button> -->
                                    <button (click)="note_to_goal(note.id, note.note, note.priority)" style="background-color: grey; border:none; box-shadow: none; border-radius: 8px;">
                                        <tr>
                                            <td><img src="/assets/image/plus2.png" style="height: 20px; width: 20px; "> </td>
                                            <td style="font-size: 14px; font-family: Roboto; font-weight: bold">Add Task </td>
                                        </tr> 
                                    </button>
                                    <!-- <span style="font-size: 20px; font-weight: bolder;">+</span> -->
                                </td>
                            </div>                                
                        </div>
                    </mz-modal-content>
                </mz-modal>


                <mz-modal #addLog>
                        <mz-modal-header>
                            <h4>Add a Feature or Bug</h4>
                        </mz-modal-header>
                        <mz-modal-content>
                            <div style="margin-bottom: 10px; font-weight: 500; font-size: 24px;">Features/Bugs<span style="font-weight: 500;color: red;">*</span></div>
                            <h5 style="color: green">{{dataservice.message}}</h5>
                            <form (ngSubmit)="add_a_log()">
                                <textarea id="goal" [(ngModel)]="log" name="goal" placeholder="Enter new feature or bug..." style="width: 700px; height: 121px; border-radius: 20px; padding: 10px; margin-bottom: 40px"></textarea>
                                <br>
                                <div style="margin-bottom: 10px; font-weight: 500; font-size: 24px;">Priority<span style="font-weight: 500;color: red;">*</span></div>

                                <select  name="log_priority" style="height: 30px; margin: 15px; color: #1f7a7a; width: auto;" [(ngModel)]="log_priority">
                                    <option Value="High" selected>High Priority</option>
                                    <option Value="Medium">Medium Priority</option>
                                    <option Value="Low">Low Priority</option>                           
                                </select>
                                <!-- <input class="modal-close waves-effect btn btn-default" type="submit" value="Add Note"> -->
                                <div style="text-align: center">
                                    <button type="button" class="btn-round" value="Add" (click)="add_a_log()" style=" height: 40px; font-size: 14px">ADD</button>
                                </div>
                            </form><br>
                        </mz-modal-content>
                    </mz-modal>


                <mz-modal #upload>
                    <mz-modal-header>
                        <h4>Add A File</h4>
                    </mz-modal-header>
                    <mz-modal-content>
                        <h6>Click outside this dialog to cancel.</h6><br>
                        <form>
                            <label for="file">Choose File</label>
                            <input  #Image accept="image/*" type="file" (change)="selectFile($event)">
                            <br>
                            <button type="button" class="modal-close waves-effect btn btn-default" (click)="imageUpload()">Upload</button>
                        </form>
                    </mz-modal-content>
                </mz-modal>
                <mz-modal #showImage >
                    
                    <mz-modal-content>
                        <img src="{{dataservice.domain_protocol}}{{dataservice.domain_name}}{{scrum_image}}" style="width: 800px; height: 400px" alt="image">
                         <div>
                            <button type="button" class="btn-round" (click)="ResizeImageFull();" style=" border-radius: 5px;  width: 130px height: 50px; border-left: 5px solid white ">
                                                View Original size
                            </button>
                        </div>
                    </mz-modal-content>
                   
                </mz-modal>   
                <mz-modal #userAdvance>
                    <mz-modal-header>
                        <h4>User Task Histories =>
                        <span style="color: white; background-color:  #26a69a; padding: 8px 25px; margin-left: 30px;">{{clicked_user}}</span> </h4>
                    </mz-modal-header>
                    <mz-modal-content>
                        <div style="display: table; width: 100%; word-wrap: break-word; border-collapse: collapse; border: 2px solid #f2f2f2;" id="userHistory">
                            <div style="display: table-row">
                                    <!--
                                    <th class="full-box">Created By</th>
                                    -->
                                    <th class="full-box" style="width: 10%; text-align: center">SPRINT NO</th>
                                    <th class="full-box"  style="width: 35%; text-align: center">SPRINTS</th>
                                    <th class="full-box">GOALS</th>
                            </div>

                            <div style="display: table-row" *ngFor="let sprint of dataservice.sprints.slice().reverse(); let j = index; let k = count">
                                <td class="top-box">{{sprint.id}}</td>
                                <td class="top-box">  {{sprint.created_on | date}} - {{sprint.ends_on | date}}</td>
                                <td class="top-box" style="text-align: left">
                                    <span *ngFor="let user_goal of dataservice.user_goal_history">
                                        <div *ngIf ="user_goal.time_created > sprint.created_on && user_goal.time_created < sprint.ends_on" >
                                            <div style="font-size: 16px">
                                                <span  style="font-weight: bolder;">
                                                    Work ID: 
                                                </span>                                                
                                                <span style="color: white; background-color:  #26a69a;">{{user_goal.push_id}}</span>
                                            </div>
                                          <div style="border-left: 3px solid #26a69a">
                                            {{user_goal.name}} <br>
                                            
                                          <div style="text-align: right">
                                            <span style="font-weight: bolder; " [innerText]="user_goal.status == 3 ? 'completed' : 'Not Completed'" [style.color]="user_goal.status == 3 ? 'green' : 'red'">
                                                
                                            </span>
                                          </div>
                                         </div>
                                         <br>
                                         <div style="text-align: center; font-weight: bold;color:#26a69a ">--------</div>
                                         <br>
                                        </div>
                                    </span>
                                </td>
                            </div>                                
                        </div>
                    </mz-modal-content>
                </mz-modal>             
                <mz-modal #showHistory >
                        <mz-modal-header>
                            <h4>Task History Details</h4>
                        </mz-modal-header>
                        <mz-modal-content>
                            <div *ngIf="task_history">
                            <h5  *ngIf ="goal_push_id != 'Null Value'">
                                <span style="color: #26a69a">History Push ID:</span>  
                                <span style="color: white; background-color:  #26a69a; padding: 8px 25px; margin-left: 30px;">{{goal_push_id}}</span>
                            </h5>
                                <table>
                                    <tr  style="margin: 0; padding: 0">
                                        <td style="font-weight: Bold; text-align: left">
                                           Name:
                                        </td>
                                        <td>
                                            {{task_history.name}}
                                        </td>
                                        <td rowspan="7">
                                            <img src="https://{{dataservice.domain_name}}{{task_history.file}}" style="width: 250px; height: 220px" alt="https://{{dataservice.domain_name}}{{task_history.file}}">
                                        </td>
                                    </tr>
                                    <tr style="margin: 0; padding: 0">
                                        <td style="font-weight: Bold; text-align: left"> Status: </td>
                                        <td>{{task_history.status}}</td>
                                    </tr>
                                    <tr style="margin: 0; padding: 0">
                                        <td style="font-weight: Bold; text-align: left">Hours: </td>
                                        <td>{{task_history.hours}}</td>
                                    </tr>
                                    <tr style="margin: 0; padding: 0">
                                        <td style="font-weight: Bold; text-align: left"> Date: </td>
                                        <td>{{task_history.time_created  | date}}</td>
                                    </tr>
                                    <tr style="margin: 0; padding: 0">
                                        <td style="font-weight: Bold; text-align: left"> Changed By: </td>
                                        <td>{{task_history.done_by}}</td>
                                    </tr>
                                    <tr style="margin: 0; padding: 0">
                                        <td style="font-weight: Bold; text-align: left"> Result: </td>
                                        <td>{{task_history.message}}</td>
                                    </tr>
                                </table>
                             </div>
                        </mz-modal-content>
                </mz-modal>

            </div>
